::-moz-focus-inner,
a:active,
a:focus,
button:active,
button:focus {
  outline: none;
  border: 0;
  -moz-outline-style: none;
}
strong, b {
  font-weight: 600;
}
body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1rem;
  color: #000;
}
header {
  background: #000;
}
img {
  display: block;
  max-width: 100%;
}
a {
  color: #ffcb05;
  transition: color 0.2s ease;
}
a:hover {
  text-decoration: none;
  color: #ffcb05;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 75rem;
  position: relative;
}
.top {
  display: flex;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 60px;
}
.top-contact {
  display: flex;
  justify-content: space-between;

}
.top-contact-item {
  position: relative;
  margin-left: 100px;
  transition: all 0.2s ease;
}
.top-contact-item-img,
.top-contact-item-hover {
  position: absolute;
  top: 0;
  left: -54px;
  bottom: 0;
  opacity: 0;
}
.top-contact-item-img {
  opacity: 1;
}
.top-contact-item:hover .top-contact-item-hover {
  opacity: 1;
}
.top-contact-item-description {
  color: #fff;
  line-height: 24px;
}
.top-contact-item-description span {
  font-weight: 600;
}
.top-contact-item-description-in {
  display: block;
  color: #a2a2a2;
  font-weight: 500;
}
.top-contact-item:hover .top-contact-item-description-in {
  color: #ffcb05;
}
.navbar-brand {
  padding: 0;
}
.navbar {
  padding: 0;
}
.navbar-nav {
  justify-content: space-between;
  width: 100%;
}
.navbar .navbar-nav li .nav-link {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  padding: 1rem;
  transition: color 0.2s ease;
}
.navbar .navbar-nav li .nav-link.active {
  color: #fff;
}
.navbar .navbar-nav li:first-child .nav-link {
  padding-left: 0;
}
.navbar .navbar-nav li:last-child .nav-link {
  padding-right: 0;
}
.navbar .navbar-nav li .nav-link:hover {
  color: #ffcb05;
}
.trapezes {
  height: 6px;
  background: url('../images/top.svg') left center repeat-x;
  padding: 0 6px;
}
.single-slide {
  padding-top: 136px;
  padding-bottom: 174px;
}
.slide-content {
  color: #fff;
}
.slider-subtitle {
  font-size: 58px;
  line-height: 55px;
  padding-bottom: 12px;
}
.slider-title {
  font-size: 82px;
  line-height: 108px;
  font-weight: 600;
  padding-bottom: 1.5rem;
}
.slider-text {
  line-height: 33px;
  font-size: 23px;
}
.button {
  color: #fff;
  border: 1px solid #fff;
  padding: 14px 27px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  margin-top: 76px;
  transition: all 0.2s ease;
}
.button:hover {
  border-color: #ffcb05;
}
.slick-dotted.slick-slider {
  margin: 0;
}
.slick-dots {
  bottom: 44px;
}
/* .slick-dots li button::before {
  content: "";
  position: absolute;
  background: transparent;
  border: 1px solid #e5e5e5;
  height: 13px;
  width: 13px;
  opacity: 1;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  
} */
.slick-dots li button {
  position: absolute;
  background: transparent;
  border: 1px solid #e5e5e5;
  height: 14px;
  width: 14px;

  
}
.slick-dots li.slick-active button::before {
  content: "";
  background: #ffcb05;
  height: 0.5rem;
  width: 0.5rem;
  opacity: 1;
  left: 2px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  opacity: 1;
}
.slider-f .slick-next::before,
.slider-f .slick-prev::before {
  display: none;
}
.slider-f .slick-next,
.slider-f .slick-prev {
  background: url("../images/next.jpg") center center no-repeat;
  height: 94px;
  top: calc(50% - 47px);
  width: 38px;
  z-index: 20;
}
.slider-f .slick-prev {
  right: auto;
  left: 0;
  transform: scaleX(-1);
}
.slider-f .slick-next {
  transform: none;
  right: 0;
}
.slider-f .slick-next:hover,
.slider-f .slick-prev:hover {
  background: url("../images/nexthover.jpg") center center no-repeat;
  opacity: 1;
}
.section2 {
  background: url('../images/bga.jpg') center center no-repeat;
  background-size: cover;
  min-height: 975px;
}
.why-we {
  background: url('../images/bgb.jpg') center center no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 2rem;
}
.h2 {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 88px;
}
.h2 span {
  color: #ffcb05
}
.h2::after {
  content: "";
  position: absolute;
  bottom: -13px;
  background: #aa8a13;
  height: 2px;
  width: 100px;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.why-we-description {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding-top: 1.5rem;
  line-height: 30px;
}
.why-we-description span {
  color: #ffcb05;
}
.img-container {
  position: relative;
  height: 102px;
}
.img-container img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.why-we .button {
  margin-top: 60px;
  padding: 14px 61px;
}
.our-offer {
  background: #f0f0f0;
  padding-top: 68px;
  padding-bottom: 40px;
}
.trusted-us .h2,
.our-offer .h2 {
  color: #000;
}
.trusted-us .h2::after,
.our-offer .h2::after {
  background: #f9da63;
}
.our-offer .col-12,
.our-offer .col-md-6 {
  margin-bottom: 26px;
}
.our-offer-item {
  -webkit-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.75);
display: block;
}
.our-offer-item::after {
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: rgba(0, 0, 0, 0.41);
  margin: auto;
  transition: opacity 0.2s ease;
}
.our-offer-item:hover::after {
  opacity: 1;
}
.our-offer-description {
  position: absolute;
  top: calc(50% - 41px);
  height: 82px;
  right: 15px;
  left: 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  background: rgba(0, 0, 0, 0.75);
  font-weight: 500;
  z-index: 10;
  transition: color 0.2s ease;
}
.our-offer-item:hover .our-offer-description {
  color: #ffcb05;
}
.our-offer-description span {
  background: url('../images/yellowarrow.png') center right no-repeat;
  padding-right: 26px;
}
.trusted-us {
  padding-top: 54px;
  padding-bottom: 30px;
}
.slider-2 .slick-next::before,
.slider-2 .slick-prev::before {
  display: none;
}
.slider-2 .slick-next,
.slider-2 .slick-prev {
  background: url("../images/arrow.png") center center no-repeat;
  height: 40px;
  top: calc(50% - 20px);
  width: 21px;
  z-index: 20;
}
.slider-2 .slick-prev {
  right: auto;
  left: 0;
  transform: scaleX(-1);
}
.slider-2 .slick-next {
  transform: none;
  right: 0;
}
.slider-2 .slick-next:hover,
.slider-2 .slick-prev:hover {
  background: url("../images/arrow.png") center center no-repeat;
  opacity: 1;
}

















@media only screen and (max-width: 1400px) {
  
}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 991px) {
  
}

@media only screen and (max-width: 800px) {
  
}

@media only screen and (max-width: 767px) {

}
@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 600px) {

}

@-webkit-keyframes start {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.25rem);
    transform: translateX(-1.25rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}

@keyframes start {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1.25rem);
    transform: translateX(-1.25rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}